.container-home {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #292a2c;
    box-shadow: 10px 5px 5px #1e1f20;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    border: 1px solid black;
}

.crypto-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.crypto-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background-color: #26272b;
    box-shadow: 5px 5px 5px #0d0e0f;
    border-radius: 12px;
    padding: .7rem 1rem;
    transition: all 0.3s;
    color: white;
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
}

.crypto-card > p, .columns > p {
    justify-self: flex-end;
}

.crypto-card:hover {
    background-color: #1a1919;
}

.img-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

img {
    height: 40px;
    width: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.container-all-card-detail {
    max-width: 800px;
    margin: auto;
}

.conteiner-h2-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #26272b;
    box-shadow: 10px 5px 5px #1e1f20;
    border-radius: 12px;
}

.volumeNegative {
    color: red;
}

.volumePositive {
    color: rgb(40, 226, 40);
}

.conteiner-h2-card h2 {
    font-size: 2rem;
}

.container-img-symbol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .6rem;
    padding: 3rem 0;
    background-color: #26272b;
    box-shadow: 10px 5px 5px #1e1f20;
    border-radius: 12px;  
}

.img-symbol {
    display: flex;
    align-items: center;
    gap: 8px;
}

.img-symbol p {
    font-size: 1.3rem;
}

.price-detail {
    font-size: 2rem;
}

.container-table {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 10px 5px 5px #1e1f20;
    border-radius: 12px;
}

.tr-row {
    text-align: center;
    padding: 5px;
}

th {
    padding: 5px;
    background-color: rgb(97, 86, 86);
}

.loading {
    text-align: center;
}

.container-info-secundaria {
    width: 100%;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.container-info-secundaria > div > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding: .6rem 0;
}

.container-header {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    transition: all 0.3s;
}

.header h1:hover {
    color: black;
    transform: scale(1.03);
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    border-color: #787b7e;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.container-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.back-to-home {
    transition: color 0.3s;
}

.back-to-home:hover {
    color: black;
}

@media (max-width: 1250px) {
    .container-home {
        max-width: 800px;
    }

    .container-header {
        max-width: 700px;
    }

    .crypto-card > p, .columns > p {
        justify-self: center;
    }
}

@media (max-width: 860px) {
    .container-home {
        max-width: 550px;
    }

    .container-header {
        max-width: 400px;
    }

    .header {
        flex-direction: column;
        gap: 2rem;
    }

    .ocultar {
        display: none;
    }

    .crypto-card, .columns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-all-card-detail {
        margin: 0 10px;
    }
}

@media (max-width: 578px) {

    p {
        font-size: 14px;
    }

    .container-home {
        margin: 0 15px;
    }

    .container-info-secundaria {
        display: flex;
        flex-direction: column;
    }

    .conteiner-h2-card > h2  {
        font-size: 1.5rem;
    }

    .container-img-symbol > div > p {
        font-size: 1.3rem;
    }

    .container-table {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .search-input {
        width: 200px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}